altgraph==0.17.4
astroid==2.11.5
bcrypt==3.2.0
cffi==1.15.0
colorama==0.4.4
contourpy==1.2.0
cycler==0.12.1
dill==0.3.5.1
fonttools==4.47.0
future==0.18.3
iso8601==2.1.0
isort==5.10.1
kiwisolver==1.4.5
lazy-object-proxy==1.7.1
matplotlib==3.8.2
mccabe==0.7.0
numpy==1.26.1
packaging==23.2
pandas==2.1.1
pefile==2023.2.7
Pillow==10.1.0
platformdirs==2.5.2
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
pylint==2.13.9
pyparsing==3.1.1
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3.post1
PyVISA==1.14.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
serial==0.0.97
six==1.16.0
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.3
wrapt==1.14.1
